language: java
sudo: false
install: true

jdk:
  - oraclejdk8

script: ./travis.sh

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sonar

notifications:
  email: false

addons:
  apt:
    packages:
      # upgrade java 8 as the default version 1.8.0_31 prevents from compile sources
      # https://github.com/travis-ci/travis-ci/issues/4042
      - oracle-java8-installer
